@{
    ViewData["Title"] = "ADMIN PANEL";
}

<div class="text-center">
    <h1 class="display-4">Welcome Admin</h1>
    <p>Below will be all controls to add and edit table data in DB, specifically for adding/editing Bootcamps, locations, and courses. Make sure only UserID 1 can access this page as it was grant access to full schema drop if executed! </p>
</div>
