@{
    ViewData["Title"] = "Fatal Error";
}

<h1 class="text-danger">Fatal Error.</h1>
<h2 class="text-danger">Your request encountered a failure and was redirected here.</h2>
<h2 class="text-danger">Retry your request - then contact Admin ASAP - No changes were made to DB.  </h2>

<h3><a href="/Admin">Click here to reenter admin panel</a></h3>
<br><br><br>
<hr>
<h4>Likely causes: </h4>
<ul>
    <h4><li>Bad Modelstate</li></h4>
    <h4><li>Bad Acc Permissions</li></h4>
    
    
</ul>