@{
    ViewData["Title"] = "RateMyCodingBootcamp - Real Reviews of the Top Coding Bootcamps in America";
}

<div class="text-center">
    <h1 class="display-4">Welcome to RateMyCodingBootcamp</h1>
    <p>This page will have stuff including search bar, all major camps by reviews, and more idek yet. </p>
    <p>Search bar goes here!</p>
</div>
