@{
    ViewData["Title"] = "Login - RateMyCodingBootcamp - Real Reviews of the Top Coding Bootcamps in America";
}

<div class="text-center">
    <h1 class="display-4">Log In to Rate My Coding Bootcamp</h1>
    <small>Logging in is not required for creating a review, but will allow you to update or delete your previous ratings!</small>
    
    <div class="col-6">
        <partial name="_LoginPartial" />
    </div>
    
    
</div>
