@{
    ViewData["Title"] = "RateMyCodingBootcamp - Rate a Bootcamp";
}
@model Bootcamp;

<div class="text-center">
    <h1 class="display-4">Find Your Coding Bootcamp</h1>
    <p>This page will have a search bar, allowing user to search for specific bootcamp, and then select that bootcamp. </p>
    <p>Search bar goes here!</p>
    
    
    temp
    <div class="list-group">
        
        @foreach (Bootcamp b in ViewBag.Bootcamps)
        {
            <a class="list-group-item list-group-item-action" href="/rate/@b.BootcampID">@b.Name</a>
        }
        
        
    </div>
    
</div>
