@{
    ViewData["Title"] = "Register - RateMyCodingBootcamp - Real Reviews of the Top Coding Bootcamps in America";
}

<div class="text-center">
    <h1 class="display-4">Create an Account</h1>
    <small>Registering is not required for creating a review, but will allow you to update or delete your previous ratings!</small>
    
    
    <div class="col-4 center">
        <partial name="_RegPartial" />
    </div>
    
    
</div>
